body{
font-family: Arial;
padding:40px;
}

.light{
background:white;
color:black;
}

.dark{
background:#222;
color:white;
}

.cv{
border:1px solid #ccc;
padding:30px;
width:600px;
margin:auto;
}

button{
padding:10px;
margin:5px;
}
body{
font-family:Arial;
background:#f4f4f4;
}

.cv{
width:700px;
margin:auto;
background:white;
padding:30px;
border-left:6px solid #2c7be5;
}